footer {
	min-height: 150px;

	.copyright {
		font-size: 14px;
		font-weight: 300;
	}

	.social {
		// color: $bg-gray-color;
		font-size: 1.2em;
	}
}

@media (max-width: 768px) {

	.copyright {
		padding: 25px 0;
	}
}