footer {
	min-height: 150px;

	.copyright {
		font-size: 14px;
		font-weight: 300;
	}

	.link {
		margin-bottom: 1rem;
	}

	.social {
		font-size: .8em;
		
		a {
			// text-decoration: none;
			color: $body-color;
			display: flex;
			justify-content: start;
			align-items: center;

			// border: 1px solid;
			padding: 0 15px;

			span {
				padding: 0 10px;
			}
		}
	}
}

@media (max-width: 768px) {

	.copyright {
		padding: 25px 0;
	}

	footer {
		.social {
			font-size: 0.7em;
		}

		.link {
			margin-bottom: .5rem;
		}
	}
}

// @media (min-width: 768px) {
// 	.social {
// 		font-size: 1em;
// 	}
// }