.projects {
	img {
		width: 100%;
		height: auto;
		max-height: 197px;
	}

	.items {
		&>.item {
			padding: 10px 15px;
			border-color: gainsboro;
			border-width: 1px;
			border-style: solid;
		}

		.item {
			min-height: 620px;
		}

		// .description {
		// 	min-height: 225px;
		// }
	}

	.embla__slide {
		// flex: 0 0 80%;
		// min-width: 0;

		.title {
			font-size: 18px;
		}
	}

}

@media (max-width: 376px) {
	// .embla__slide {
	// 	flex: 0 0 90%;
	// 	min-width: 0;
	// }
}

@media (max-width: 768px) {
	.projects {
		.items {
			.item {
				margin: 20px 0;
			}

			display: none !important;
		}

		img {
			max-height: unset;
		}

		.embla {
			.item {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}


@media (min-width: 769px) {
	
	.projects {
		.embla {
			display: none;
		}
	}
	
}

@media(min-width: 1024px) and (max-width: 1025px) {
	.projects {
		svg {
			display: none;
		}
	}
}

// @media (max-width: 425px) {
// 	.projects {
// 		.items {
// 			display: none !important;
// 		}
// 	}
// }