.stack {
	li {
		font-size: 20px;
		font-weight: 400;
	}

	p {
		font-size: 24px;
		line-height: 36px;
		font-weight: 300;
	}

	.items {
		text-align: center;

		li {
			font-size: 24px;
			font-weight: 300;
		}
	}

	.items:not(:last-child) {
		padding: 50px 0;
	}

	img {
		width: 50%;
		height: auto;
		margin: 0 20%;
		max-height: 80px;
	}

}

@media (max-width: 768px) {
	.stack {
		// background-image: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
		
		img {
			width: 60%;
			margin: 0;
			max-height: 150px;
		}
		
		.items {
			
			& > div:not(:last-child) {
				padding: 30px 0;
			}
		}
	}
}

@media (min-width: 426px) {
	
	.stack {
		.embla {
			display: none;
		}
	}

}

@media (max-width: 425px) {
	.stack {
		.items {
			display: none !important;
		}

		p {
			font-size: 18px;
		}
	}
}